# **install_library**

In [ ]:
import pandas as pd
import numpy as np

# **data_upload**

mount_gdrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import_file

In [ ]:
df = pd.read_table("/content/drive/MyDrive/LongReport_WeeklyAnalysis/WA22_16092021/MD_16092021.tsv", sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

# **data_clean**

In [ ]:
#dataNeed_Strain_Date_Division_Location_Submitting_Lab_Region_Type_Clade_Lineage_ImpLin_VariantStatus

In [ ]:
df.head(2)

                                              strain  ... pangoLEARN_version
0  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0011...  ...         2021-08-24
1  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0001...  ...         2021-08-24

[2 rows x 41 columns]

delete_unnessary_columns_change_in_dataset

In [ ]:
df.drop([ 'virus','gisaid_epi_isl', 'genbank_accession', 'region', 'country', 'region_exposure', 'country_exposure', 'division_exposure', 'segment', 'length', 'host', 'originating_lab', 'authors', 'url',
       'title', 'paper_url', 'date_submitted', 'purpose_of_sequencing', 'lab_id', 'totalInsertions', 'totalMissing', 'totalNonACGTNs', 'nonACGTNs', 'substitutions', 'deletions', 'aaSubstitutions', 'aaDeletions', 'scorpio_call', 'note', 'pangoLEARN_version'], axis=1, inplace=True)
df.head(2)

                                              strain  ...    lineage
0  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0011...  ...  B.1.617.2
1  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0001...  ...     B.1.36

[2 rows x 11 columns]

# Lineage_Name_Change

In [ ]:
#focus on other

In [ ]:
df.loc[df['lineage'] == 'B.1.1.7', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.1', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.2', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.3', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.4', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.5', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.6', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.7', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'Q.8', 'ImpLin'] = 'Alpha'
df.loc[df['lineage'] == 'B.1.351', 'ImpLin'] = 'Beta'
df.loc[df['lineage'] == 'P.1', 'ImpLin'] = 'Gamma'
df.loc[df['lineage'] == 'B.1.525', 'ImpLin'] = 'Eta'
df.loc[df['lineage'] == 'B.1.526', 'ImpLin'] = 'Iota'
df.loc[df['lineage'] == 'B.1.617.1', 'ImpLin'] = 'Kappa'
df.loc[df['lineage'] == 'C.37', 'ImpLin'] = 'Lambda'
df.loc[df['lineage'] == 'B.1.621', 'ImpLin'] = 'Mu'
df.loc[df['lineage'] == 'B.1.427', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.429', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'R.1', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.466.2', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.1.318', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.1.519', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'C.36.3', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.214.2', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.1.523', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.619', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.620', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'C.1.2', 'ImpLin'] = 'Monitoring'
df.loc[df['lineage'] == 'B.1.617.2', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.1', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.2', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.3', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.3.1', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.4', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.5', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.5.1', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.5.2', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.6', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.7', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.7.1', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.7.2', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.8', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.9', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.10', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.11', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.12', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.13', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.14', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.15', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.16', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.17', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.18', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.19', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.20', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.21', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.22', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.23', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.24', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.25', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.26', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.27', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.28', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.29', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.30', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.31', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.32', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == 'AY.33', 'ImpLin'] = 'Delta'
df.loc[df['lineage'] == '617', 'ImpLin'] = 'Delta'
df.loc[(df['lineage'] != 'B.1.1.7') & (df['lineage'] != 'Q.1') & (df['lineage'] != 'Q.2') & (df['lineage'] != 'Q.3') & (df['lineage'] != 'Q.4') & (df['lineage'] != 'Q.5') & (df['lineage'] != 'Q.6') & (df['lineage'] != 'Q.7') & (df['lineage'] != 'Q.8') & (df['lineage'] != 'B.1.351') & (df['lineage'] != 'P.1') & (df['lineage'] != 'B.1.525') & (df['lineage'] != 'B.1.526') & (df['lineage'] != 'B.1.617.1') & (df['lineage'] != 'C.37') & (df['lineage'] != 'B.1.621') & (df['lineage'] != 'B.1.427') & (df['lineage'] != 'B.1.429') & (df['lineage'] != 'R.1') & (df['lineage'] != 'B.1.466.2') & (df['lineage'] != 'B.1.1.318') & (df['lineage'] != 'B.1.1.519') & (df['lineage'] != 'C.36.3') & (df['lineage'] != 'B.1.214.2') & (df['lineage'] != 'B.1.1.523') & (df['lineage'] != 'B.1.619') & (df['lineage'] != 'B.1.620') & (df['lineage'] != 'C.1.2') & (df['lineage'] != 'B.1.617.2') & (df['lineage'] != 'AY.1') & (df['lineage'] != 'AY.2') & (df['lineage'] != 'AY.3') & (df['lineage'] != 'AY.3.1') & (df['lineage'] != 'AY.4') & (df['lineage'] != 'AY.5') & (df['lineage'] != 'AY.5.1') & (df['lineage'] != 'AY.5.2') & (df['lineage'] != 'AY.6') & (df['lineage'] != 'AY.7') & (df['lineage'] != 'AY.7.1') & (df['lineage'] != 'AY.7.2') & (df['lineage'] != 'AY.8') & (df['lineage'] != 'AY.9') & (df['lineage'] != 'AY.10') & (df['lineage'] != 'AY.11') & (df['lineage'] != 'AY.12') & (df['lineage'] != 'AY.13') & (df['lineage'] != 'AY.14') & (df['lineage'] != 'AY.15') & (df['lineage'] != 'AY.16') & (df['lineage'] != 'AY.17') & (df['lineage'] != 'AY.18') & (df['lineage'] != 'AY.19') & (df['lineage'] != 'AY.20') & (df['lineage'] != 'AY.21') & (df['lineage'] != 'AY.22') & (df['lineage'] != 'AY.23') & (df['lineage'] != 'AY.24') & (df['lineage'] != 'AY.25') & (df['lineage'] != 'AY.26') & (df['lineage'] != 'AY.27') & (df['lineage'] != 'AY.28') & (df['lineage'] != 'AY.29') & (df['lineage'] != 'AY.30') & (df['lineage'] != 'AY.31') & (df['lineage'] != 'AY.32') & (df['lineage'] != 'AY.33'), 'ImpLin'] = 'Other'

In [ ]:
df.head(2)

                                              strain  ... ImpLin
0  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0011...  ...  Delta
1  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0001...  ...  Other

[2 rows x 12 columns]

In [ ]:
#variant_naming

In [ ]:
df.loc[df['ImpLin'] == 'Alpha', 'Variant'] = 'VOC'
df.loc[df['ImpLin'] == 'Beta', 'Variant'] = 'VOC'
df.loc[df['ImpLin'] == 'Gamma', 'Variant'] = 'VOC'
df.loc[df['ImpLin'] == 'Delta', 'Variant'] = 'VOC'
df.loc[df['ImpLin'] == 'Eta', 'Variant'] = 'VOI'
df.loc[df['ImpLin'] == 'Iota', 'Variant'] = 'VOI'
df.loc[df['ImpLin'] == 'Kappa', 'Variant'] = 'VOI'
df.loc[df['ImpLin'] == 'Lambda', 'Variant'] = 'VOI'
df.loc[df['ImpLin'] == 'Mu', 'Variant'] = 'VOI'
df.loc[df['ImpLin'] == 'Monitoring', 'Variant'] = 'Monitoring'
df.loc[(df['ImpLin'] != 'Alpha') & (df['ImpLin'] != 'Beta') & (df['ImpLin'] != 'Gamma') & (df['ImpLin'] != 'Delta') & (df['ImpLin'] != 'Eta') & (df['ImpLin'] != 'Iota') & (df['ImpLin'] != 'Kappa') & (df['ImpLin'] != 'Lambda') & (df['ImpLin'] != 'Mu') & (df['ImpLin'] != 'Monitoring'), 'Variant'] = 'Other'

In [ ]:
df.head(2)

                                              strain        date  ... ImpLin Variant
0  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0011...  2021-05-15  ...  Delta     VOC
1  hCoV-19/India/INSACOG/AS-CSIR-NEIST1-CIDIN0001...  2020-07-21  ...  Other   Other

[2 rows x 13 columns]

In [ ]:
df.to_csv('MD_160921_WA22.csv')